/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* medieval-tavern-navbar.css */

body {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif; /* A common serif font for a rustic feel */
  background-color: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #5E3C0D; /* Darker brown background color */
  overflow: hidden;
  position: relative;
  border-bottom: 2px solid #8B4513; /* Slightly lighter brown border */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

.navbar a {
  float: left;
  font-size: 18px; /* Slightly smaller font size for a rustic look */
  color: #CD5C5C;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  letter-spacing: 1px; /* Add some spacing between characters */
}

.navbar a:hover {
  background-color: #DAA520;
  color: #5E3C0D; /* Dark brown text color on hover */
}